*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-xs) {
    font-size: 50%;
  }
}

body {
  font-size: 1.4rem;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
}

.dark__mode {
  background-color: $color-dark-blue-1;
}

.container {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 4rem;

  @media only screen and (min-width: $bp-md) {
    grid-template-columns: 0.4fr repeat(4, minmax(min-content, 1fr)) 0.4fr;
  }
}
